@media (max-width:480px) {
    .burgerbar {
        display: block;

    }
    .navcl{
        display: none;
    }
    .sign {
        display: none;
        flex-direction: column;
    }
    .sign.activen{
        display: block;

    }
    .ul-li{
        flex-direction: column;
        align-items: center;
    }
    .navcl.activeNavcl{
        display: block;
    }
}
    

