.header-wrapper{
    width: 100%;
    height: 150px;
    background-color: black;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    ;
    
 
    

}
.body{
    height: 300px;
}
.imG{
    height: 150px;
    width: 150px;
    background-image: url(../images/gray-painted-background_53876-94041.avif);
    margin-bottom: 30PX;
    

}

.div-box{
    width: 100%;
    background-image:url(../images/gray-painted-background_53876-94041.avif)
}
  


