/* add auto prefixer */
.header-wrapper{
  width: 100%;
  height: 120px;
  background-color:#003399;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  position: relative;

}
.body{
  padding-top: 100px;
  height: 300px;
  
}
/* logo-header */
.imG{
  height: 100px;
  width: 100px;
  background-color: 	#ffbf00;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 35px;
 
  
.div{
  position: relative;
}
}
.p-centre{
  font-size: 36px;
  
  position: absolute;
  top: 35px;
  left: 350px;
  color: white;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
.sign{
  width: 150px;
  height: 50px;
  background-color: #ffbf00;
  position: absolute;
  top: 20px;
  right:30px;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  
}
.sign-activen{
  display: block;
}
.aa{
  color: white;
}
.navigation{
  display: flex;
  justify-content: space-between;
  
}



.burgerbar{
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 30px;
  color: #ffbf00;
  display: none;
}
.ul-li{
  display: flex;
  width: 100%;
  height: 30px;
   justify-content: space-between;
  position: absolute; 
  background-color: #ffbf00;
  padding-left: 0px;
  padding-top: 5px;
  
  
 
}
.atr{
  font-size: 20px;
  color: white;
  font-family: "BPG Mikheil Stefane", sans-serif;

}
.atr:hover{
  color: #0080ff;
}

/* div-zero */
.div-zero{
width: 100%;
height: 600px;
margin-top: 10px;
position: relative;
background-color:white

/* background-position: center;
background-size: cover;
background-repeat: no-repeat; */
/* background-image :url(https://i.pinimg.com/736x/81/5a/a0/815aa0da02394811a7e957f0f4f118af.jpg) */
}
.div-zero1{
 
  position: absolute;
}
.p-news{
font-size: 45px;
color: #003366;

}
.p-news:hover{
  color: #0080ff
}

.photozero{
  width: 573px;
  height: 442px;
  border-radius: 30px;
  margin-top: 50px;

}
.h3wo{
  position: absolute;
  right: 300px;
  top: 170px;
  font-size: 26px;

}
.old{
  padding-left: 70px;
}
.svg{
  width: 70px;
  height:70px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.div-photo{
  position: absolute;
  top: 10px;
  left: 10px;
}
.div-link{
  position: absolute;
  bottom: 10px;
  left: 950px;
}



/* პირველი სექცია */

.div-1{
  width: 100%;
  height: 500px;
 

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 60px;
  padding-left: 10px;
  position: relative;
  background-image: url(https://img.freepik.com/premium-photo/background-concept-with-business-people-silhouette-work_207634-5653.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710806400&semt=ais);
  /* background-image: url(../images/organizational-development-hr.jpg); */
    background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.div-1-1{
  width: 730px;
  height: 380px;
  background-color:white;
  margin-top: 5px;
  margin-left: 20px;
  padding-top: 30px;
 border-radius: 20px 5px;
  padding-left: 10px;
}
.h1-about{
  font-size: 50px;
  color: #003366;
  letter-spacing:0.5px;
  text-align: justify;
  line-height: 30px;
  padding-left: 20px;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
.p1-about{
  font-size: 20px;
  color: black;
  padding-top: 30px;
  width: 700px;
  text-align: justify;
  line-height: 25px;
  padding-left: 20px;
font-family: "ALK Life", sans-serif;
  
}
.h1-about:hover{
  color: #0080ff
}
.div1-right{
  position: absolute;
  top: 60px;
  right: 40px;
}
.photo{
  border-radius: 20px 5px;
  width: 100%;
  height: 380px;
  margin-right: 10px;
  margin-top: 20px;
}
/* section 2 */
.service{
  width: 150px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 650px;
  border-radius: 20px;
}
.p-2service{
  font-size: 25px;
  padding-left: 15px;
  padding-top: 10px;
  color: #003366;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
.p-2service:hover{
  color: #0080ff
}

.div2-box-wrapper{
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 60px;
  padding-left: 10px;
  position: relative;
  background-image: url(https://img.freepik.com/premium-photo/businesspeople-working-together-bright-office_670147-8477.jpg);
  /* background-image: url(https://thumbs.dreamstime.com/z/silhouettes-business-people-office-building-44686371.jpg); */
  /* background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220616/pngtree-stock-trend-candlestick-chart-background-rising-trend-image_1413130.jpg); */
   background-position: center;
background-repeat: no-repeat;
background-size: cover;
  
}

 /* .p-2service{
  font-size: 30px;
  color: white;
  letter-spacing:0.5px;
  text-align: justify;
  line-height: 30px;
  padding-left: 625px;
  padding-top: 5px; */

.div-2a{
  width: 300px;
  height: 500px;
  background-color: white;
  position: absolute;
  left: 110px;
  top: 90px;
  border-radius: 20px;
  
}
.p2-cons{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  color: #003366;
  font-family: "BPG Mikheil Stefane", sans-serif;
  
}
.p2-cons:hover{
  color:#0080ff ;
}
.ig{
  width: 100%;
  height: 300px;
  position: absolute;
  top: 180px;
}
.p2-ab{
  font-size:15px;
  position: absolute;
  top: 80px;
  left: 20px;
 font-family: "ALK Life", sans-serif;
  line-height: 20px;
}
.div-2b{
  width: 300px;
  height: 500px;
  background-color: white;
  left: 320px;
  top: 1px;
  border-radius: 20px;
  position: absolute;
 
}
.p-div2{
  font-size:15px;
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 20px;
  color: #003366;
  font-family: "ALK Life", sans-serif;
}
.d2{
font-family: "BPG Mikheil Stefane", sans-serif;}
.p-div2:hover{
  color: #0080ff;
}

.p-div2c{
  font-size:15px;
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 20px;
  color: #003366;
  font-family: "BPG Mikheil Stefane", sans-serif;
}
.p-div2c:hover{
  color: #0080ff;
}


/* მესამე სექცია */
.div-3wrapper{
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 10px;
 /* background-color: white; */
 background-image: url(https://st4.depositphotos.com/2673929/38281/i/450/depositphotos_382819476-stock-photo-silhouettes-two-businessmen-shaking-hands.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
   

}
.div-box{
  width: 400px;
  height: 400px;
  background-color:white;
  position: absolute;
  left: 35px;
  top: 140px;
  border-radius: 20px;
  
}
.p2-div3{
  position: absolute;
  top: 20px;
  left: 10px;
  line-height: 20px;
  font-family: "ALK Life", sans-serif;
  
}
.farmer{
  position: absolute;
  width: 200px;
  top: 180px;
  left: 80px;
}
.div-box3{
  width: 400px;
  height: 400px;
  background-color:white;
  position: absolute;
  left: 500px;
  top: 0px;
  border-radius: 20px;
}
.wo{
  position: absolute;
  width: 150px;
  top: 230px;
  left: 220px;
}
/* registration */
.registration{
  width: 100%;
  height: 500px;
  margin-top: 10px;
  background-image: url(https://previews.123rf.com/images/mazirama/mazirama1503/mazirama150300574/38103124-registration-concept-with-interface-and-world-map-on-blue-background.jpg);
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;}
  .container {
padding: 16px;
background-color: white;
}

input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 15px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}


.registerbtnn {
background-color:#003399;
color: white;
padding: 16px 20px;
margin: 30px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
} 

.registerbtnn:hover {
opacity: 1;
}




.clicbtn{ 
   width: 100%;
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 25px;
  color: #f44336;}
  

.signin {
background-color: #f1f1f1;
text-align: center;}
.pp{
  font-family: "BPG Mikheil Stefane", sans-serif;
  font-size: 15px;

}
/* footer */
.footer-wrapper{
  width: 100%;
  height: 350px;
  background-color: #003399;
  position: relative;
}
.left-footerdiv{
  width: 500px;
  height: 300px;
  background-color:#003399;
  position: absolute;
  top: 0;
  left: 400px;
}
.li-info{
  color: aliceblue;
  font-size: 20px;
  margin-top: 5PX;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: "BPG Mikheil Stefane", sans-serif;
  
}
.right-map{
  width: 600px;
  height: 350px;
  
  position: absolute;
  top: 0px;
  right: 0px;

}
.iframe{
  width: 600px;
  height: 350px;
 
 
}
.div-icon{
  position: absolute;
  top: 10px;
  left: 30px;
  width: 300px;
  height: 350px;

}
.div-imG{width: 300px;
  height: 350px;

}




input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:#ffbf00;
  color: white;
  margin-top: 250px;
  margin-left: 700PX;
  padding: 10px 20px;  
  border: none;
  cursor: pointer;
  width: 300PX;
  height: 50PX;
  font-size: 25px;
  font-family: "BPG Mikheil Stefane", sans-serif;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}
.btn{
  margin-left: 400px;
  margin-top: 10px;
  font-family: "BPG Mikheil Stefane", sans-serif;
 
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* scroll bar*/
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

::-webkit-scrollbar-thumb {
  background: 003399; 
}


::-webkit-scrollbar-thumb:hover {
  background:#003399; 
}

/* ajax */
/* .post-wraper {
  background-color :#003399;
  margin-bottom: 30px;
  max-width: 450px;
  width: 100%;
  height: 150px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#ffbf00;
  display: none;
}
.overlay.active {
  display: block;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: blueviolet;
  cursor: pointer;
}

.add-post {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 150px;
  right: 150px;
  background-color: #ffff00;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
.overlay-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#003399;
  display: none;
}
.overlay-add.overlayActive {
  display: block;
} */